#main-container{
    display: flex;
}
#sidenav{
    width:100px; 
    display: flex;
    flex-direction: column
}
#sidenav>div {
    padding: 1em;
    cursor: pointer;
}
#sidenav>div:hover{
    background-color: rgb(224, 216, 216);;
}
#gmail-button i {
    color: #BE2810;
}
#webview-container{
    height: 100vh;
}

#chat-button i {
    color: #07897A;
}

#google-button i {
    color: #6052F8;
}

#gitlab-button i {
    color: #FF6600;
}

#youtube-button i {
    color:red;
}

#sidenav {
    -webkit-box-shadow: inset 8px 0 3px -2px rgb(194, 189, 189);
    box-shadow: 10px 0 5px -2px rgb(194, 189, 189);
    height: 100%;
    width: 100%;
    margin: auto;
}
#loading {
    display: none;
}
